# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Python egg files
*.egg
*.egg-info/

# Logs
*.log

# macOS
.DS_Store

# Streamlit cache
.streamlit/

# Model files (optional, if large you may want to ignore)
# model_pipeline.pkl
